<div style="background-color:darkgrey">
	<div class="container">
		<div class="jumbotron">
			<form role="form" (submit)="login($event, username.value, password.value)">
			<div class="form-group">
				<label for="UserName">User Name</label>
				<input class="form-control" #username id="username" required="required" placeholder="Username">
			</div>
			<div class="form-group">
				<label for="Password">Password</label>
				<input type="password" class="form-control" #password id="password" required="required" placeholder="Password">
			</div>
			<!-- <div class="form-check">
				<label class="form-check-label">
					<input type="checkbox" class="form-check-input"> Check me out
				</label>
			</div> -->
				<button type="submit" class="btn btn-primary">Login</button>
			</form>
		</div>
	</div>
</div>